<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="/home">Student Management</a>
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Link -->
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home" routerLinkActive="activate">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/course" routerLinkActive="activate">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/batch" routerLinkActive="activate">Batch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/regestration" routerLinkActive="activate">Regestration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/user" routerLinkActive="activate">User</a>
          </li>
        </ul>
        <div>
          <a class="nav-link" href="#" routerLink="/login" routerLinkActive="/activate">Login</a>
        </div>
      </div>
    </div>
  </nav>
