<app-navbar></app-navbar>
<!-- user modal -->
    <div class="my-4 col-8 offset-2">
      <button type="button" style="margin-top: 44px;" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New User
        
      </button>
      
      <!--create Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="row g-3">
                <div class="col-md-4">
                  <label for="validationDefault01" class="form-label">User Id</label>
                  <input type="text" class="form-control" id="userid" value="" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault01" class="form-label">First name</label>
                  <input type="text" class="form-control" id="firstname" value="" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault02" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname" value="" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault02" class="form-label">User Name</label>
                  <input type="text" class="form-control" id="username" value="" required>
                </div>
                <div class="col-md-4">
                  <label for="validationDefault02" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" value="" required>
                </div>
                
                <div class="col-12">
                  <button class="btn btn-secondary" id="submituser" type="submit">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>       
    </div>

<!-- edit,update,delete modal -->

<!--edit Modal -->
<div class="modal fade" id="editeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-4">
            <label for="validationDefault01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationDefault01" value="" required>
          </div>
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="validationDefault02" value="" required>
          </div>
          
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">User Name</label>
            <input type="text" class="form-control" id="validationDefault02" value="" required>
          </div>

          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Password</label>
            <input type="password" class="form-control" id="validationDefault02" value="" required>
          </div>
          <div class="col-12">
            <button class="btn btn-secondary" type="submit">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--details Modal -->
<div class="modal fade" id="detailseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-4">
            <label for="validationDefault01" class="form-label">First name</label>          
          </div>
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Last Name</label>
          </div>
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">User Name</label>
          </div>
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Password</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col">
            <label for="validationDefault01" class="form-label">Warning!!!Are you sure to Delete User?</label>           
          </div>
          
          <div class="col-12">
            <button class="btn btn-secondary" type="submit">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
   
<!-- showing table -->
    
      <div class="conainer my-4 col-8 offset-2">
        <table class="table table-striped">
          <tr class="bg-info">
            <th>User Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Password</th>
            <th style="text-align: center;" colspan="2">Action</th>
          </tr>
          <tbody id="myTable">
        </tbody>
        </table>
      </div>
